{% extends "master.html" %}

{% block head %}
<title>About</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}

	<div class="row">
	
		<div class="span6"><br>
			<div class="alert alert-info">
				<h3>Who we are:</h3>
				<p>We work with lots of local businesses to provide the best deals on the beach for vacationers.  Most of the deals are 2-for-1 with the best 
				companies on the beach.  Some examples are surfing lessons, parasailing, jet ski rentals, fishing and more.  Not only does the Vacation Hero Guide give you
				the best deals, we may it easy for you to learn about the coolest places to spend your time on the OBX.</p>
			</div>
			
			<br>
		</div>
		
		<div class="span6">
		
			<!-- Begin MailChimp Signup Form -->
		  	<div class="pull-right">
				<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#FFEDDB; clear:left; font:12px Helvetica,Arial,sans-serif; }
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
				<form action="http://thevacationhero.us6.list-manage.com/subscribe/post?u=3a189e8a122067d2528b1956e&amp;id=7d72957340" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Sign up in advance to hear when the OBX Vacation Hero Guide is released and get $5 off:</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				</div>
			</div>
			
		   <!--End mc_embed_signup-->
		
		</div>
		
	</div>
	
	<div class="row">
		<div class="span4">
			<img src="http://i.imgur.com/5hwBd.jpg" alt="hiking photo">
		</div>
		
		<div class="span8">
			<h4>F.A.Q.</h4><br>
			
			<h5>What form is the OBX Vacation Hero Guide delivered in?</h5>
			<p>-Upon successful purchase you will be provided a link to download a PDF of the Guide.  From this PDF you are able to print any of the specific deals you would like to use or just print the whole Guide.</p><br>
			
			<h5>Why pay for these deals when many companies offer coupons and discounts for free?</h5>
			<p>-There are many useful coupons out there but generally these will save you a dollar or two and take more time to look through to find a useful deal than they actually save you.  Our purpose is to make your vacation more enjoyable and less expensive, so we have a collection of deals that save you more than $30 each and are organized in a such a way to make it easy to find just what you want and provide ideas for more exciting activities to do on the OBX.</p><br>
			
			<h5>How long are the coupons valid?</h5>
			<p>-For the summer edition of the OBX Vacation Hero Guide the coupons are valid from May until the end of August.  Some have a weekly validity so make sure to check the date there.  If you are interested in an offseason Vacation Hero Guide please contact us as we are working on it.</p><br>
			
		</div>
	</div>
	
			        
{% endblock %}