{% extends "master.html" %}

{% block head %}
<title>Deals</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}
	<div class="row">
		<div class="span6">
			<h3>Curious what kind of deals you will be getting with the OBX Vacation Hero Guide?</h3><br>
			
			<blockquote>
                <h4>Here are some examples:</h4>
                <ul>
                    <li>hang gliding</li> 
                    <li>kayaking tours</li>
                    <li>kite boarding lessons</li>
                    <li>fishing trips</li>
                    <li>hotel rooms</li>
                    <li>jet ski rentals</li>
                    <li>surfing lessons</li>
                    <li>wild horse tours</li>
                    <li>spa visits</li>
                    <li>dolphin watching</li>    
                </ul>
            </blockquote>
			
			<h4>So what's the deal?</h4>
			<p>Most of the available deals are 2-for-1 or a similar discount making the experience much more affordable and lowering the total cost of your trip.</p>
		</div>
		
		<div class="span6">
			<img src="http://i.imgur.com/xH7fM.jpg" alt="cape hatteras lighthouse">
		</div>
		
	</div>	
			        
{% endblock %}