{% extends "master.html" %}

{% block head %}
<title>Include Your Business</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}

	<div class="row">
	
		<div class="span6">
			<div class="round-corners my-box center-it">
				<h3>Do you have a tourism business on the Outer Banks?</h3><br>		
			</div>
		</div>
		
		<div class="span6">
			<div class="round-corners my-box center-it">
				<br>
				<h3>Do you want more customers?</h3><br>
			</div>
		</div>
		
	</div>

	<div class="row">
	
		<div class="span12"><br>	
			<h3 class="center-it">If you answered yes then you should participate in the OBX Vacation Hero.</h3> <br>
				
			<h4>What are the benefits?</h4>
			<ul>
				<li>exposure to new visitors all over the beach</li>
				<li>prevent lost business by using all of your equipment or space</li>
				<li>gain interested customers for years to come</li>
				<li>inclusion with other premier OBX tourism businesses</li>
			</ul>
			
			<h4>So what should you do?</h4>
			<p>Let us know you are interested.  Then create a deal.  Examples are 2-for-1 kayaking lessons, buy one jet ski rental and get one 
			half off, or a 2-for-1 wild horse tour.  Each deal will offer the customer a discount of $30 or more
			and will help you gain a customer to fill otherwise empty slots in your activities.</p>
			
			<h3 class="pull-right">If you are interested in participating simply <a class="btn btn-primary btn-large btn-light" style="color: white; text-decoration:none;" href="mailto:pgrayobx@gmail.com" target="_blank">Email Us!</a></h3>
			<br><br><br><br>
		</div>
		
	</div>
	
	<div class="row">
		<div class="span6">
			<h4>Common Questions for Businesses:</h4><br>
			<h5>How will we verify the coupon?</h5>
			<p>-Each coupon has the name of the purchaser which can be verified with an ID.  Additionally if you would like extra verification each coupon has a unique transaction ID which can be tested on our website for validity and to make sure it is not used more than once.</p><br>
			
			<h5>How are the business partners selected?</h5>
			<p>-One of the main benefits for users of the Vacation Hero is that the businesses in it are all verified as legitimate, helpful and enjoyable.  We make that decision on a case by case basis.</p><br>
			
			<h5>Is there a set deal that must be provided?</h5>
			<p>-No, we are open to all sorts of discounts and and deals though most are 2-for-1 or buy one get one half off.  We have a requirement that the overall deal must provide at least a $30 discount to the user.  If you are not able to provide a $30 discount but are still interested please contact us.</p><br>
			
			<h5>Is there a required time frame for the deal to be available?</h5>
			<p>-For the summer edition of the OBX Vacation Hero Guide the coupons must be valid from May until the end of August.  On a weekly basis though the validity is up to you.  We suggest you have it valid all week but also recognize it may be advantageous to offer the coupon only on less busy days.  If you are interested in an offseason Vacation Hero Guide please contact us as we are working on it and are accepting businesses for inclusion.</p><br>
			
			<h5>Why not just run this discount ourselves?</h5>
			<p>-Of course that is an option for your business but by providing the deal only in the OBX Vacation Hero you are able to be featured among other premier OBX vacation and adventure groups, gain customers that otherwise would not have been drawn into your business, and yet not lose profit by having customers that would come anyway use the deal.  Our guide is promoted most heavily to new visitors to the OBX thus drawing in visitors on their initial visit which will have them returning year after year if they enjoy their experience.</p><br>
			
		</div>
	
		<div class="span6">
			<img src="http://i.imgur.com/caRwF.jpg" alt="hiking photo">
		</div>
	</div>
	
			        
{% endblock %}