{% extends "master.html" %}

{% block head %}
<title>Purchase</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}
	<div class="row">
		<div class="span6">
			<h2>Ready to become the hero of your OBX vacation?</h2><br>
			
			<h4>You are just a click away from one of the best purchases of your whole trip.</h4><br>
			
			<h5>After you complete the purchase you will recieve a link to download the OBX Vacation Hero Guide which you will be able to 
			browse and print off all the deals you would like to use.</h5><br>
			
			<div class="alert alert-error">
				<h4>We're creating the OBX Vacation Hero Guide and will have it ready for purchase within a few weeks.
				In the meantime shoot us an email at patrick@thevacationhero.com.</h4>
			</div>
		</div>
		
		<div class="span6">
			<img src="http://i.imgur.com/ESCDp.jpg" alt="wright brothers monument">
		</div>
		
	</div>	
			        
{% endblock %}