{% extends "master.html" %}

{% block head %}
<title>Testimonials</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}

	<div class="row">
	
		<div class="span12"><br>
			<h4>Here is what people are saying about the OBX Vacation Hero:</h4>
			<p>We'll tell you as soon as we sell one :)</p>
		</div>
		
	</div>
	
	<div class="row">
		<div class="span8 offset2">
		<br><br>
			<img src="http://i.imgur.com/qKapL.jpg" alt="hiking photo">
		</div>
	</div>
	
			        
{% endblock %}