{% extends "master.html" %}

{% block head %}
<title>Working in Progress!</title>
{% endblock %}

{% block content %}

<h2>We are either still working on this page or you just found a bug.  If you have a second to tell us about it just email mgmt@exployre.com.  If not though we hope the error
wasn't too much of an annoyance.  We hope to have it up fixed up soon!</h2>

  <script src="http://code.jquery.com/jquery-latest.js"></script>


<!-- <button>Toggle 'em</button>

<p id="toggleme" style="display: none">Hiya</p>
<script>
$("button").click(function () {
$("#toggleme").toggle("slow");
});    
</script> -->
{% endblock %}
​